{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Breadcrumb area Start -->
<div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                    <h1 class="page-title">ورود</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb area End -->
<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
    <div class="page-content-inner pt--75 pb--80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-sm--50">
                    <div class="login-box">
                        <h3 class="heading__tertiary mb--30">ورود</h3>
                        <form class="form form--login", method = 'post',action= ''>
                            {% csrf_token %}
                            {{form|crispy}}
                            <div class="d-flex align-items-center mt--20">
                                <div class="form__group">
                                    <input type="submit" value="ورود" class="btn-submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}