<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block page_title %}{% endblock page_title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <a href="{% url 'home' %}"> Home | </a> 
        <a href="{% url 'product-list' %}"> Products</a>
        {% if user.is_authenticated %}
            <form action= "{% url 'account_logout' %}" method= 'post'>
                {% csrf_token %}
                
                Welcommen {{user.username}}
        
                <button type= 'submit' class = 'btn btn-danger'> logout</button> 
            </form>

        {% else %}
            <a href="{% url 'account_login' %}"> login | </a> 
            <a href="{% url 'account_signup' %}"> signup</a>
        {% endif %}
        {% block content %}
        {% endblock content %}
        
        
        <script src="" async defer></script>
    </body>
</html>